.park-navbar {
    background-color: #145e8c;
}
.nav-link{
    color: #000;
}
.nav-pills .nav-link.active {
    background-color: #145e8c;
}

body {
    padding-top: 4.5rem;
}

.fixed-left{
    position: fixed;
    top: 4.5rem;
    left: 0;
    z-index: 1030;
    width: fit-content;
}

.primary-color {
    color: #145e8c;
}

.success-color {
    color: #41A63A;
}

.bg-primary-color {
    background-color: #145e8c;
    color: #fff;
}

.btn-primary-color-outline {
    border-color: #145e8c;
    color: #145e8c;
}

.btn-primary-color-outline:hover {
    background-color: #145e8c;
    color: white;
}
.btn a {
    text-decoration: none;
    color: #fff;
}